[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coverage = "*"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
mongoengine = "*"
graphene = "*"
graphene-mongo = "*"

[requires]
python_version = "3.8"
